
<header>
    <div class="row">
        <div class="column column-4">
            <a href="#/">
                <div class=logo>
                    <img src="../../assets/img/logo-black.gif" />
                </div>
            </a>
        </div>
        <div class="column column-8 " >
            <a ng-click="modalShow('user')" >
                <div class="userCart" >
                    <i class="demo-icon icon-user"></i> <span class="i-code"></span>
                </div>
            </a>
            <h3 class="username" ng-show="authenticated">Dobrodošao {{user.name}}</h3>
        </div>
    </div>


    <div >
        <div id="dropdownLogin" class="dropdown-content form-group"  ng-show="displayedModal=='user'">
            <div ng-show="authenticated">
                <button class="btn" ng-click="logout()">Logout</button>
                <a class="btn btn-info" href="#/admin" ng-show="user.level==1" >Admin sučelje</a>
                <a class="btn btn-info" href="#/myAcc" ng-hide="user.level==1" >Moj Račun</a>

            </div>
        </div>

    </div>
</header>
<nav>
    <div class="container">
        <ul class="nav nav-pills" >
            <li ng-class="{'active':selected=='proizvodi'}" ng-click="selected='proizvodi'"><a href="" >Proizvodi</a></li>
            <li ng-class="{'active':selected=='kategorije'}" ng-click="selected='kategorije'"><a href="" >Kategorije</a></li>
            <li ng-class="{'active':selected=='narudzbe'}" ng-click="selected='narudzbe'"><a href="" >Narudžbe</a></li>
            <li ng-class="{'active':selected=='korisnici'}" ng-click="selected='korisnici'"><a href="" >Korisnici</a></li>
            <li ng-class="{'active':selected=='opcije'}" ng-click="selected='opcije'"><a href="" >Korisničke opcije</a></li>
        </ul>
    </div>
</nav>
<div ng-show="selected=='proizvodi'">
    <div class="row well">
        <div class="form-group column column-12 ">
            <form ng-submit="addProduct()" name="addProductForm">
                <h1>Dodaj proizvod</h1>
                <label for="name">Naziv proizvoda</label>
                <input class="form-control" id="name" ng-model="newProduct.name" type="text"required/>
                <label for="description">Opis</label>
                <textarea class="form-control" ng-maxlength="500" id="description"  ng-model="newProduct.description" required></textarea>
                <label for="price">Cijena</label>
                <input id="price" class="form-control" type="number" ng-model="newProduct.price"required/>
                <label for="stock">Broj jedinica u skladištu</label>
                <input id="stock" class="form-control" type="number" ng-model="newProduct.onStock"required/>
                <label for="image">Slika</label>
                <input id="image" type="file" name="image" file-model="newProduct.file" class="btn" required/>
                <label for="category">Odaberi kategoriju: </label>
                <select id="category" ng-model="newProduct.category" class="form-control" required >
                    <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
                </select>
                </br>
                <input type="submit" class="btn btn-success" ng-disabled="!addProductForm.$valid" value="Dodaj novi proizvod"/>
             </form>
        </div>
    </div>

    <div ng-repeat="x in products" class="row well ">
        <div ng-hide="edit==$index">
            <h3>{{x.name}}</h3>
            <ul>
                <li>Opis: {{x.description}}</li>
                <li>Kategorija: {{x.categoryName}}</li>
                <li>Cijena: {{x.price}}</li>
                <li>Preostalo u skladištu: {{x.onStock}}</li>
            </ul>
            <button ng-click="editProduct($index)" class="btn btn-warning">Uredi</button>
            <button ng-click="deleteProduct($index)" class="btn btn-danger">Obriši</button>
        </div>
        <div ng-show="edit==$index" class="column column-5">
            <form name="editForm">
                <label for="newName">Naziv proizvoda</label>
                <input class="form-control" id="newName" ng-model="x.name" type="text"required/>
                <label for="newDescription">Opis</label>
                <input class="form-control" id="newDescription" ng-model="x.description" type="text"required/>
                <label for="newPrice">Cijena</label>
                <input id="newPrice" class="form-control" type="number" ng-model="x.price"required/>
                <label for="newStock">Broj jedinica u skladištu</label>
                <input id="newStock" class="form-control" type="number" ng-model="x.onStock"required/>
                <label>Slika</label>
                <input type="file" name="image" file-model="x.file" class="btn" required/>
                <label for="newCategory">Odaberi kategoriju: </label>
                <select id="newCategory" ng-model="x.category" class="form-control" required>
                    <option ng-repeat="category in categories" ng-value="category._id " >{{category.name}}</option>
                </select>
                </br>
                <input type="button" ng-disabled="!editForm.$valid" ng-click="doneEditingProduct($index)" class="btn btn-success" value="OK"/>
            </form>
        </div>
    </div>
</div>
<div ng-show="selected=='kategorije'" class="row well">
    <div class="column column-12">
        <h1>Dodaj kategoriju</h1>
        <form ng-submit="addCategory()" name="addCategoryForm">
            <input type="text" class="form-control" ng-model="newCategory.name" required/>
            <input type="submit" class="btn btn-success" value="Dodaj novu kategoriju"/>
        </form>
        <div ng-repeat="x in categories" class="row ">
            <div ng-hide="editCategory==$index">
                <h3>{{x.name}}</h3>
                <button ng-click="editCategory($index)" class="btn btn-warning">Uredi</button>
                <button ng-click="deleteCategory($index)" class="btn btn-danger">Obriši</button>
            </div>
            <div ng-show="editCategory==$index" class="column column-5">
                <input class="form-control" ng-model="x.name" type="text" required/>
                <input type="button" ng-click="doneEditingCategory($index)" class="btn btn-success" value="OK"/>
            </div>
        </div>
    </div>
</div>
<div ng-show="selected=='narudzbe'" class="row well">
    <h1>Narudžbe</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Proizvodi</th>
            <th>Kupac</th>
            <th>Vrijeme</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>
                <div ng-repeat="item in order.products">
                    <p>Naziv: {{item.name}}</p>
                    <p>Cijena: {{item.price}} kn</p>
                    <hr>
                </div>
            </td>
            <td>
                <p>Ime: {{order.user.name}}</p>
                <p>Email: {{order.user.email}}</p>
            </td>
            <td>{{order.timestamp | date : "short"}}</td>
            <td><button class="btn btn-danger" ng-click="deleteUser($index)"><span class="glyphicon glyphicon-remove" >  </span></button></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="selected=='korisnici'" class="row well">
    <h1>Korisnici</h1>
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Ime</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><button class="btn btn-success" ng-hide="user.level==1" ng-click="adminSwitch($index)" ng-disabled="$index==0">Postavi admin prava</button></td>
                <td><button class="btn btn-danger"  ng-show="user.level==1" ng-click="adminSwitch($index)" ng-disabled="$index==0">Makni admin prava</button></td>
                <td><button class="btn btn-danger" ng-click="deleteUser($index)" ng-disabled="$index==0"><span class="glyphicon glyphicon-remove">  </span></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="selected=='opcije'" class="row well">
    <div class="column column-6">
        <h2>Korisničke opcije</h2>
        <form name="editForm">
            <input  name="username" type="text" ng-model="new.username" required ng-minlength="4" placeholder="Promijenite korisničko ime" class="form-controll">
            <button class="btn btn.info"  ng-click="changeCredentials('username')" ng-disabled="!editForm.username.$valid">Promijeni username</button>
            <br><br>
            <input  name="name" type="text" ng-model="new.name" required ng-minlength="4" placeholder="Promijenite ime" class="form-controll">
            <button class="btn btn.info"  ng-click="changeCredentials('name')" ng-disabled="!editForm.name.$valid">Promijeni ime</button>
            <br><br>
            <input name="email" type="email" ng-model="new.email" required placeholder="Promijenite email" class="form-controll">
            <button class="btn btn.info"  ng-click="changeCredentials('email')" ng-disabled="!editForm.email.$valid" >Promijeni email</button>
            <br><br>
            <input name="password1" type="password" ng-model="new.pass1" placeholder="Promijenite lozinku" class="form-controll">
            <input name="password2" type="password" ng-model="new.pass2" placeholder="Ponovite lozinku" class="form-controll">
            <p ng-show="new.pass1!=new.pass2 && !editForm.password2.$pristine">Lozinke se ne podudaraju</p>
            <button class="btn btn.info" ng-click="changeCredentials('password')" ng-disabled="new.pass1==new.pass2 && editForm.password2.$pristine" >Promijeni lozinku</button>
        </form>
    </div>
    <div class="column column-6">
        <h2>Korisnički podatci</h2>
        <label>Username</label>
        <p>{{user.username}}</p>
        <label>Name</label>
        <p>{{user.name}}</p>
        <label>Email</label>
        <p>{{user.email}}</p>
    </div>

</div>

