<header >
    <div class="row">
        <div class="column column-4">
            <a href="#/">
                <div class=logo>
                    <img src="../../assets/img/logo-black.gif" />
                </div>
            </a>
        </div>
        <div class="column column-8 " >
            <a ng-click="modalShow('cart')">
                <div class="userCart">
                    <i class="demo-icon icon-basket"></i> <span class="i-code"></span>
                </div>
            </a>
            <a ng-click="modalShow('user')" >
                <div class="userCart" >
                    <i class="demo-icon icon-user"></i> <span class="i-code"></span>
                </div>
            </a>
            <h3 class="username" ng-show="authenticated">Dobrodošao {{user.name}}</h3>
        </div>
    </div>


    <div >
        <div id="dropdownCart" class="dropdown-content" ng-show="displayedModal=='cart'">
            <table frame="void" rules=rows ng-show="user.cart.length>0">
                <tr>
                    <th class="img"></th>
                    <th>Artikl</th>
                    <th>Cijena</th>
                </tr>
                <tr ng-repeat="cartItem in user.cart">
                    <td class="img"><img ng-src={{cartItem.picUrl}}></td>
                    <td>{{cartItem.name}}</td>
                    <td>{{cartItem.price}} kn</td>
                    <td><button class="btn btn-danger" ng-click="removeFromCart(cartItem)"><span class="glyphicon glyphicon-remove">  </span></button></td>
                </tr>
            </table>
            <div class="moarButton" ng-show="user.cart.length>0">
                <a href="" ng-click="createNewOrder()"><h2>Plati</h2></a>
            </div>
            <h2  ng-hide="user.cart.length>0">Košarica je prazna</h2>
        </div>
        <div id="dropdownLogin" class="dropdown-content form-group"  ng-show="displayedModal=='user'">
            <div ng-hide="authenticated">
                <fieldset class="form-group">

                    <label>Username</label>
                    <input class="form-control" type="text" ng-model="credentials.username" placeholder="Username"/>

                </fieldset>
                <fieldset class="form-group">
                    <label>Password:</label>
                    <input class="form-control" type="password" ng-model="credentials.password" placeholder="Password"/>

                </fieldset>


                <button class="btn btn-success" ng-click="login()">Login!</button>
                <button  ng-click="modalShow('register')" class="btn">Register</button>
            </div>
            <div ng-show="authenticated">
                <button class="btn" ng-click="logout()">Logout</button>
                <a class="btn btn-info" href="#/admin" ng-show="user.level==1" >Moj Račun</a>
                <a class="btn btn-info" href="#/myAcc" ng-hide="user.level==1" >Moj Račun</a>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <ul class="nav nav-pills" >
            <li ng-class="{'active':selected=='user'}" ng-click="selected='user'"><a href="" >Korisničke opcije</a></li>
            <li ng-class="{'active':selected=='narudzbe'}" ng-click="selected='narudzbe'"><a href="" >Narudžbe</a></li>
        </ul>
    </div>
</nav>
<div class="well row" ng-show="selected=='user'">
    <div class="column column-6">
        <h2>Korisničke opcije</h2>
        <form name="editForm">
            <input  name="username" type="text" ng-model="new.username" required ng-minlength="4" placeholder="Promijenite korisničko ime" class="form-controll">
            <button class="btn btn.info"  ng-click="changeCredentials('username')" ng-disabled="!editForm.username.$valid">Promijeni username</button>
            <br><br>
            <input  name="name" type="text" ng-model="new.name" required ng-minlength="4" placeholder="Promijenite ime" class="form-controll">
            <button class="btn btn.info"  ng-click="changeCredentials('name')" ng-disabled="!editForm.name.$valid">Promijeni ime</button>
            <br><br>
            <input name="email" type="email" ng-model="new.email" required placeholder="Promijenite email" class="form-controll">
            <button class="btn btn.info"  ng-click="changeCredentials('email')" ng-disabled="!editForm.email.$valid" >Promijeni email</button>
            <br><br>
            <input name="password1" type="password" ng-model="new.pass1" placeholder="Promijenite lozinku" class="form-controll">
            <input name="password2" type="password" ng-model="new.pass2" placeholder="Ponovite lozinku" class="form-controll">
            <p ng-show="new.pass1!=new.pass2 && !editForm.password2.$pristine">Lozinke se ne podudaraju</p>
            <button class="btn btn.info" ng-click="changeCredentials('password')" ng-disabled="new.pass1==new.pass2 && editForm.password2.$pristine" >Promijeni lozinku</button>
        </form>
    </div>
    <div class="column column-6">
        <h2>Korisnički podatci</h2>
        <label>Username</label>
        <p>{{user.username}}</p>
        <label>Name</label>
        <p>{{user.name}}</p>
        <label>Email</label>
        <p>{{user.email}}</p>

    </div>
</div>
<div class="well row" ng-show="selected=='narudzbe'">
    <h1>Narudžbe</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Proizvodi</th>
            <th>Vrijeme</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>
                <div ng-repeat="item in order.products">
                    <p>Naziv: {{item.name}}</p>
                    <p>Cijena: {{item.price}} kn</p>
                    <hr>
                </div>
            </td>
            <td>{{order.timestamp | date : "short"}}</td>
            <td><button class="btn btn-danger" ng-click="deleteOrder($index)"><span class="glyphicon glyphicon-remove" >  </span></button></td>
        </tr>
        </tbody>
    </table>

</div>



