<body>
	<header >
	 	<div class="row">
	 		<div class="column column-4">
	 		<a href="#/">
	 			<div class=logo>
	 				<img src="../../assets/img/logo-black.gif" />
	 			</div>
	 		</a>
	 		</div>
			<div class="column column-8 " >
				<a href="" ng-click="modalShow('cart')">
					<div class="userCart">
						<i class="demo-icon icon-basket"></i> <span class="i-code"></span>
					</div>
				</a>
				<a href="" ng-click="modalShow('user')" >
					<div class="userCart" >
						<i class="demo-icon icon-user"></i> <span class="i-code"></span>
					</div>
				</a>
				<h3 class="username" ng-show="authenticated">Dobrodošao {{user.name}}</h3>
			</div>
	 	</div>


		<div >
			<div id="dropdownCart" class="dropdown-content" ng-show="displayedModal=='cart'">
				<table frame="void" rules=rows ng-show="user.cart.length>0">
					<tr>
						<th class="img"></th>
						<th>Artikl</th>
						<th>Cijena</th>
					</tr>
					<tr ng-repeat="cartItem in user.cart">
						<td class="img"><img ng-src={{cartItem.picUrl}}></td>
						<td>{{cartItem.name}}</td>
						<td>{{cartItem.price}} kn</td>
						<td><button class="btn btn-danger" ng-click="removeFromCart(cartItem)"><span class="glyphicon glyphicon-remove">  </span></button></td>
					</tr>
				</table>
				<div class="moarButton" ng-show="user.cart.length>0">
					<a href="" ng-click="createNewOrder()"><h2>Plati</h2></a>
				</div>
				<h2  ng-hide="user.cart.length>0">Košarica je prazna</h2>
			</div>
			<div id="dropdownLogin" class="dropdown-content form-group"  ng-show="displayedModal=='user'">
				<div ng-hide="authenticated">
					<fieldset class="form-group">

						<label>Username</label>
						<input class="form-control" type="text" ng-model="credentials.username" placeholder="Username"/>

					</fieldset>
					<fieldset class="form-group">
						<label>Password:</label>
						<input class="form-control" type="password" ng-model="credentials.password" placeholder="Password"/>

					</fieldset>


					<button class="btn btn-success" ng-click="login()">Login!</button>
					<button  ng-click="modalShow('register')" class="btn">Register</button>
					<div class="alert alert-danger" ng-if="message">
						{{ message }}
					</div>
				</div>
				<div ng-show="authenticated">
					<button class="btn" ng-click="logout()">Logout</button>
					<a class="btn btn-info" href="#/admin" ng-show="user.level==1" >Moj Račun</a>
					<a class="btn btn-info" href="#/myAcc" ng-hide="user.level==1" >Moj Račun</a>

				</div>
			</div>
			<div id="dropdownRegister" class="dropdown-content form-group"  ng-show="displayedModal=='register'">
				<form novalidate name="registerForm" ng-submit="register(register.$valid)">
					<fieldset ng-class="{ 'has-error' : registerForm.username.$invalid && !registerForm.username.$pristine}" class="form-group">
						<label>Username</label>
						<input name="username" class="form-control" type="text" ng-model="credentials.username" placeholder="Username" required ng-minlength="4"/>
						<p ng-show="registerForm.username.$error.minlength" class="help-block">Username je prekratak.</p>
					</fieldset>
					<fieldset class="form-group">
						<label>Password:</label>
						<input class="form-control" type="password" ng-model="credentials.password" placeholder="Password" required/>
						<p ng-show="credentials.password!=credentials.password2 && !registerForm.password2.$pristine">Lozinke se ne podudaraju</p>
					</fieldset>
					<fieldset class="form-group">
						<label>Password:</label>
						<input name="password2" class="form-control" type="password" ng-model="credentials.password2" placeholder="Repeat password" required/>
					</fieldset>
					<fieldset class="form-group">
						<label>Name:</label>
						<input name="name" class="form-control" type="text" ng-model="credentials.name" placeholder="Name"/>
					</fieldset>
					<fieldset ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }" class="form-group">
						<label>Email:</label>
						<input name="email" class="form-control" type="email" ng-model="credentials.email" placeholder="E-mail" required/>
						<p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Email nije valjan</p>
					</fieldset>
					<input type="submit" class="btn btn-success" ng-disabled="registerForm.$invalid" value="Register!"/>
				</form>
			</div>
		</div>
	</header>
	<nav >
		<div class="container">
			<ul class="nav nav-pills" >
				<li ng-class="{'active':$index==selectedTab}" ng-repeat="category in categories" ng-click="tabSwitch(category,$index)"><a href="" >{{category.name}}</a></li>
			</ul>
		</div>
	</nav>
<section class="featured" id="shop">
	<div class="row" >
		<div class="featured-prods column column-4 " ng-repeat="product in products | displayFilter:showCategory">
			<div class="featuredWraper">
				<img ng-src={{product.picUrl}}>
				<article>
				<h4>{{product.name}}</h4>
					<ul>
						<li>{{product.description}}</li>
					</ul>
					<strong>{{product.price}} hrk</strong>
				</article>
				<button class="button demo-icon icon-cart-plus" ng-hide="product.onStock==0" ng-click="addToCart(product)"></button>
				<div class="label label-danger" ng-show="product.onStock==0">RASPRODANO!</div>
			</div>
		</div>
	</div>
</section>
<footer>
		<div class="row">
			<div class="column column-12">
				<img class="logos" src="../../assets/img/footer/1.gif"/>
				<img class="logos" src="../../assets/img/footer/2.gif"/>
				<img class="logos" src="../../assets/img/footer/3.gif"/>
				<img class="logos" src="../../assets/img/footer/4.gif"/>
				<img class="logos" src="../../assets/img/footer/5.gif"/>
				<img class="logos" src="../../assets/img/footer/6.gif"/>
				<img class="logos" src="../../assets/img/footer/7.gif"/>
				<img class="logos" src="../../assets/img/footer/8.gif"/>
				<img class="logos" src="../../assets/img/footer/9.gif"/>
			</div>
		</div>
		<div class="row">
			<div class="column column-4">
				<ul>
					<li><h3>Bike Shop Kutina</h3></li>      					
					<li class="demo-icon icon-location">A. G. Matoša 12<br>&nbsp &nbsp  &nbsp  44320 Kutina</li>
					<li class="demo-icon icon-mail-alt">info@bikeshop.hr </li>
					<li class="demo-icon icon-phone">044/683-504</li>
				</ul>
			</div>
			<div class="column column-4">
				<ul>
					<li><h3>Bike Shop Sisak</h3></li>      					
					<li class="demo-icon icon-location">Franje Lovrića 11<br>&nbsp &nbsp  &nbsp  44000 Sisak</li>
					<li class="demo-icon icon-mail-alt">info@bikeshop.hr </li>
					<li class="demo-icon icon-phone">Tel: 044/540-504 </li>
				</ul>
			</div>
        </div>
</footer>
	<div class="registerModal fade" id="registerModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</body>
