
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:700|Roboto+Condensed');
@font-face {
	font-family: souulMission;
	src: url("../font/3rdman.ttf");
}

img:not(.logos)
{
	width: 100%;
	height:auto;
}
.well{
	background-color: #E8AB0C !important;
}
body
{
	margin:0;
	background-image: url("../img/main-bcg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto Condensed', sans-serif !important;
	color:black !important;
	
}
* {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}
header
{
	background-color: #484848;
	margin-bottom: 150px;
	position: relative;
}
header img
{
	padding:0 5% ;
}

.userCart
{	
	float:right;
	font-size: 3em;
	color:#484848;
	background-color: #E8AB0C;
	
}
.username{
	text-align: right;
}
.username h3{
	color:#484848;
	background-color: #E8AB0C;
}

.hero
{
	padding-top: 30px;
	padding-bottom:30px;
	margin-bottom: 50px;

}


.prvi 
{
	background-color:#0FFFE4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	padding-left: 5%;
}
.drugi
{
	background-color: #E8AB0C;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	padding: 0 0 0 5%;

}

.drugi .column
{
	padding: 0;
}

.drugi input
{
	float: right;
	width:100%;
	margin:6.5% 2% 0 0;
	background-color: #484848;
	border:none;
	text-align: left;
	padding: 1%;
	font-size: 1em;
	height: 45px}
.icon-search
{
	float:right;
	margin:3.5% 1% 0 0;
	font-size: 3em;
}

h4{
	font-size: 1.5em;
}

.moarButton h2
{
	padding: 3%;
	font-size: 1em;
	margin-right: 2%;
	text-align:center;
	background-color:#0FFFE4;
	box-shadow: 10px 10px 11px  rgba(0,0,0,0.5);
	border-radius: 20px;
}
.moarButton h2:active
{
	box-shadow:none;
}
ul
{
	list-style: none;
}

.row.full .column
{
	margin-top: 50px;
}
.featured-prods ul
{
	padding: 0;
}
.featured-prods{
	margin :10px 0 !important;
	height: 500px;
}
.column-6 li
{
	margin:3% 0 3% 0;
}


.serviceWraper ul
{
	list-style: none;
	padding-left: 5%;
}
nav{
	z-index: -1;
}

nav li:active
{
	box-shadow: none;
}


.service nav li
{
	 background-color:#0FFFE4;
	 transition: width 1s;
}
.service nav li:hover
{
	/*tranzicije*/
	width:95%;
	background-color: #E8AB0C;
}

.featured li.active
{
	background-color:#0FFFE4;
	width:95%;
}

.service  li.active
{
	background-color:#0FFFE4;
	width:95%;
}

.service nav li.active
{
	background-color: #E8AB0C;
	transition: width 1s;
}

.featured nav li:hover
{
	background-color: #0FFFE4;
	width:95%;
}

.featured nav li 
{
	background-color: #E8AB0C;
	transition: width 1s;
}

.featured 
{
	background-color: #484848;
	margin-bottom: 200px;
}
.featuredWraper
{
	padding: 2%;
	height:500px;
	background-color: #E8AB0C;
	box-shadow:10px 10px 11px  rgba(0,0,0,0.5);
	
}

.serviceWraper
{

	background-color:#0FFFE4;
	box-shadow: 10px 10px 11px  rgba(0,0,0,0.5);
	padding: 5%;
}

.service form input,textarea
{
	width:100%;
	margin-bottom: 10px;
}
footer
{
	background-color: #484848;
}

.service
{
	background-color: #484848;
	margin-bottom: 300px;
}
.column a h1
{
	color:black;
	font-size: 4em;
	background-color: #E8AB0C;
	float:left;
 	box-shadow: 7px 13px 7px rgba(0,0,0,0.5);
	width:90%;
	margin-top: 5%;
	top:0;
	z-index: 1;
	padding: 5%;
	border-radius: 0 30px 30px 0;
	transition: width 1s;
	font-family: 'souulMission' !important;
	letter-spacing:8px;
	font-weight: 900;
}
.column a h1:hover
{
	background-color: #0FFFE4;
	width: 100%;
}
.column a h1:active
{
	box-shadow: none;
}
.button:active
{

}
.wraper 
{
	width:100%;

}
h2
{
	font-family: 'souulMission' !important;
	font-size: 4em !important;
	letter-spacing: 4px;
	font-weight: 900;

}
h2 .dropdown-content{
	font-size: 2em;
}
.button
{
	float: right;
	background-color: #0FFFE4;
	font-size:2em;
	display: inline-block;
 	border-radius: 20px;
	padding:3% 3% ;
	height: auto;
	box-shadow: 7px 13px 7px rgba(0,0,0,0.5);
	position: relative;
	bottom: 20;
	margin:0 2%;
	height: 55px;
}
.column.column-4
{
	padding-left: 0px;
}
.demmo-icon .icon-location
{
	padding-left: 5px;
}
.button.seeMore
{
	border-radius: 20px;
	font-size:1em;
	padding: 0 2%;
}

.service .button
{
	padding: 1% 10%;
	text-align: center;
	background-color: #E8AB0C;
	margin-top: 20px;
}

strong 
{
	font-size: 1.5em;
}

ul input
{
	display: none;
}


.parts{
	display:none;
}
.clothes{
	display:none;
}
.gear{
	display:none;
}
.sisak{
	display: none;
}

footer .column-12
{
	background-color: black;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

footer .column-12 img
{
	float: right;
}

footer .moarButton h2
{
	background-color: black;
	color: #0FFFE4;
}

ul.pagination {
    display: inline-block;
    width:100%;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 0.5%;
    background-color: #E8AB0C;
    border-radius: 10px;
    padding: 2% 4%;
    width: 10%;

}
nav{
	background-color: #484848;
}
nav li{
	background-color: #484848;
	margin: 0 10px;
	font-size: 2em;
}
.nav-pills>li.active>a{
	background-color: #0FFFE4 !important;
	color: #484848 !important;
}

ul.pagination li a.active {
    background-color: #0FFFE4;
    color: black;
    border-radius: 10px;
}
.wrapper input[type="text"] {
    position: relative; 
}
.dropdown-content {
    position: absolute;
   	background-color: #484848;
    width: 21%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0px;
    margin-right: 2%;
    padding: 1%;
  	transition: visibility 0s, opacity 0.5s linear;
}
.dropdown-content table
{
	color: #E8AB0C;
	border:1;
}
td
{
	width: 40%;
	padding: 2%;
}
.dropdown-content .moarButton h2
{
	background-color: #E8AB0C;
	font-size: 2em !important;
}
.toTop
{
	position: fixed;
    bottom: 0;
    right:10px;

}

.toTop h5
{
    border-radius: 50%;
    background-color: #E8AB0C;
    width: 40px;
    height: 40px;
    padding: 10px
  
}
nav a{
	color:#0FFFE4 !important;
	font-family: 'Roboto Condensed' !important;
}